/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

h1, h2, h3, label {
   font-family: 'Staatliches', cursive;
}

p, h2 {
    margin-bottom: 15px;
}

h2 {
    color: #c0b300;
}

p, li, input, button {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.red {
    height: 10px;
    background-color: #e21717;
    border: none;
}

.white {
    height: 10px;
    border: none;
}

.black {
    height: 10px;
    background-color: #000000;
    border: none;
}

.cards {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#historia, #titulos, #idolos, #contato {
    margin: 40px 0;
}

/* Navbar */

header {
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 20px 10px;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    color: #e21717;
}

nav li {
    display: inline;
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Staatliches', cursive;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    color: #e21717;
    text-decoration: none;
}

nav h1 {
    font-size: 30px;
}

/* Section - Historia */

#historiaImg {
    width: 500px;
    height: 250px;
    margin: auto;
    margin: 10px auto;
}
div img {
    width: 100%;
}


/* Section - Títulos */

.cardTitulos {
    width: 30%;
    padding: 15px 0;
    border-radius: 10px;
}

.cardTitulos h3 {
    text-align: center;
    margin-bottom: 10px;
}

.cardTitulos img {
    display: block;
    width: 60%;
    height: 350px;
    margin: 40px auto;

}

.cardTitulos ul {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cardTitulos li {
    list-style: none;
    margin-bottom: 10px;
}

.cardTitulos li span {
    font-weight: bold;
}

/* Section - Idolos */

.cardIdolos {
    width: 13%;
    margin-bottom: 20px;
}

.cardIdolos img {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    border-radius: 10px;
}

.cardIdolos h3 {
    margin-top: 5px;
    text-align: center;
}

/* Formulário */

#contato h2 {
    text-align: center;
}

form {
    width: 320px;
    margin: 0 auto;
}

input{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

label{
    display: block;
    width: 320px;
    margin-bottom: 5px;
}

textarea {
    width: 320px;
    height: 180px;
    padding: 8px;
    resize: none;
}

button {
    margin: 10px auto 0 auto;
    display: block;
    width: 160px;
    background-color: #e21717;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 10px;
}

form input:focus {
    outline-color: #e21717;
}

form textarea:focus {
    outline-color: #e21717;
}

button:hover {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

/* Rodapé */

footer {
    background-color: #000000;
    color: #fff;
    padding: 16px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#social-medias {
    display: flex;
    align-items: center;
}
#social-medias img {
    width: 20px;
    margin-left: 15px;
}

#social-medias a {
    text-decoration: none;
}